
* {
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  background-color: grey;
}

.logo-container {
  height: 100px;
}
#logo-pic{
  height: 100%;
}

.contact-container{
  padding: 20px;
  text-align: right;
  flex: 1;
}

footer {
  background-color: red;
}



@media screen and (max-width: 500px) {
 
.nav-container{
  flex-wrap: wrap;
  flex-basis: 100%;
}

.logo-container, .nav-container {
  flex-basis: 100%;
}
}
